---

{% if traefik.certificates|default(False) %}
tls:
  certificates:
{% for certificate in traefik.certificates %}
    - certFile: {{ certificate.cert }}
      keyFile: {{ certificate.key }}
      stores:
        - default

{% endfor %}
{% endif %}
