---

version: '3.5'

{% if traefik.container.networks|default(False) %}
networks:
{% for network in traefik.container.networks|default([]) %}
  {{ network.name }}:
    external: true
{% endfor %}
{% endif %}

services:
  server:
    image: {{ traefik.container.image }}
    container_name: {{ traefik.container.name }}
    hostname: {{ ansible_hostname }}
{% if traefik.container.dns|default(False) %}
    dns: {{ traefik.container.dns }}
{% endif%}
{% if traefik.container.labels|default(False) %}
    labels:
{% for label in traefik.container.labels|default([]) %}
      - {{ label }}
{% endfor %}
{% endif %}
{% if traefik.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ traefik.container.syslog.host }}"
        tag: {{ traefik.container.syslog.tag }}
{% endif %}
{% if traefik.container.networks|default(False) %}
    networks:
{% for network in traefik.container.networks|default([]) %}
      - {{ network.name }}
{% endfor %}
{% endif %}
    ports:
      - {{ traefik.entrypoints.insecure.host }}:{{ traefik.entrypoints.insecure.port }}:80
      - {{ traefik.entrypoints.secure.host }}:{{ traefik.entrypoints.secure.port }}:443
      - {{ traefik.api.host }}:{{ traefik.api.port }}:8080
      - {{ traefik.exporter.host }}:{{ traefik.exporter.port }}:8082
    restart: {{ traefik.container.restart }}
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yaml
      - ./certs:/etc/traefik/certs
      - ./conf.d:/etc/traefik/conf.d
      - /var/run/docker.sock:/var/run/docker.sock:ro
