entryPoints:
  web:
    address: :80
  websecure:
    address: :443
  metrics:
    address: :8082

providers:
  file:
    directory: /etc/traefik/conf.d/
    watch: true

{% if traefik.consul.enabled|default(False) %}
  consulCatalog:
    endpoint:
      address: http://{{ traefik.consul.host }}:{{ traefik.consul.port }}
    exposedByDefault: false
{% endif %}

accessLog: {}

api:
  dashboard: true
  insecure: true

log:
  level: INFO

metrics:
  prometheus:
    addEntryPointsLabels: true
    entryPoint: metrics
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
